/*POLICE*/
@font-face{
    font-family: Raleway;
    src: url('font/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}
@font-face{
    font-family: Raleway-Bold;
    src: url('font/Raleway/static/Raleway-Bold.ttf') format('truetype');
}

*{
    font-family: Raleway, Arial, serif;
}
h1, h2{
    font-family: Raleway-Bold, Arial, serif;
}
b{
    font-family: Raleway-Bold, Arial, serif;
    margin: 0;
}

/*MENU*/

.menu{
    list-style: none;
    margin-right: 0px;
    padding-top: 20px;
    
}
.menu li{
    display: inline;
    margin-right: 40px;
}
.menu a{
    text-decoration: none;
    color: #0065fc;
}
#activite{
    color: black;
}

/*HEADER*/

.header{
 margin: 0 25px;
 padding: 0;
}
#logo{
    margin: 0;
}
.header h1{
    font-size: 1em;
   
}
.header h2{
    font-size: 0.8em;
}

.header p{
    font-size: 0.7em;
}

.entete{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/*RECHERCHER*/

.rechercher input{
    height: 40px;
    width: 200px;
    margin: 0;
    padding: 0;
    border-color: #f2f2f2;
    border-style: solid;
}
.rechercher .fas{
    background-color: #f2f2f2;
    padding: 12px;
    border-radius: 10px 0 0 10px;
    margin-right: 0;
}
.rechercher button{
    height: 40px;
    color: #FFF;
    background-color: #0065fc;
    border-radius: 0 10px 10px 0;
    margin: 0;
    padding: 10px;
    border-style: none;
}






/*FILTRES*/

.filtres{
    list-style: none;
    padding: 0;
    display: flex;
    margin-right: 40px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 0.8em;
}

.liste{
    display: flex;
    padding: 0px;
    border-width: 2px;
    border-color: #f2f2f2;
    border-style: solid;
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px;
}
#filtre{
    display: flex;
}
#filtretitle{
    padding: 0;
    margin-top: 32px;
    margin-left: 0;
}

.info{
    display: flex;
}
.info .fas{
    color: #0065fc;
    padding: 8px;
    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 20px;
}
.filtres .fas{
    color: #0065FC;
    padding: 7.5px;
    border-radius: 20px;
    background-color: #DEEBFF;
    text-align: center;
}
/*HEBERGEMENTS*/

.hebergements{
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 55%;
    padding: 20px;
    margin: 20px;
}

.hebergements h1{
    font-size: 1em;
    margin-left: 90px;
    
}

.hebergements h2{
    font-size: 0.8em;
    margin: 0px 10px 5px 10px;
}
.hebergements p{
    font-size: 0.7em;
    margin: 0 10px;
}

.vignette{
    padding: 0px;
    margin: 20px 30px 20px 30px;
    width: 250px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 30px grey;
}

.vignette img{
    width: 96%;
    height: 120px;
    border-radius: 10px 10px 0 0;
    margin: 5px;
}

.onglet{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.star{
    margin-left: 10px;
    margin-top: 5px;
    color:#0065FC;
}


/*POPULAIRE*/


.populaires{
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 30px;
    width: 20%;
}
.populaires h1{
    font-size: 1em;
    margin-left: 20px;
}
.populaires h2{
    font-size: 0.8em;
}
.populaires p{
    font-size: 0.7em;

}
.populaires img{
    border-radius: 10px 0px 0 10px;
    width: 40%;
    height: auto;
    margin: 5px;
}
.vignettepop{
    display: flex;
    width: 280px;
    height: 110px;
    background-color: #FFF;
    margin-bottom: 20px;
    border-radius: 10px;
}
.article{
    display: flex;
}
/*FOOTER*/
.footer{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.footer li{
    list-style: none;
}